node_modules
.idea
bundle.js
public/bundle.js
public/bundle.js.map
jest-cache
coverage
build
public

.DS_Store
npm-debug.log
.idea
npm.log
yarn-error.log
/.vscode/
.awcache/
.history/
.cache

naught.log
naught.pid
stderr.log
stdout.log
test-report.xml