.main-head-top {
  width: 100%;
  position: relative;
  background-color: #007bff; }
  .main-head-top .title-logo {
    text-transform: uppercase;
    font-size: 2em;
    padding: 12px;
    margin: 0;
    color: white; }
    .main-head-top .title-logo a {
      color: white;
      text-decoration: none; }
  .main-head-top .menu-main {
    width: 100%;
    margin-top: 10px; }
    .main-head-top .menu-main .navbar-liste {
      font-size: 1em;
      text-transform: uppercase;
      justify-content: space-around;
      min-width: 15%;
      padding: 10px; }
      .main-head-top .menu-main .navbar-liste a {
        color: white;
        text-decoration: none; }
  .main-head-top .search-main {
    margin-top: 15px;
    border: none; }
  .main-head-top .localisation-main {
    margin-top: 15px; }

.breadcrumd-main {
  width: 100%;
  margin-top: 5px; }
